<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leave</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
    >


    <style>
        nav{
            color: white;
        }
        body{
            background-color: #9a1b75;
        }
        h1{
            color: white;
        }
        tr{
            color: white;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Leave</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--navbar links-->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/attendances}">ATTENDANCE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employees}">EMPLOYEES</a>
                </li>
            </ul>
        </div>
</nav>

<div class="container">
    <div class="row">
        <h1>Employee Leave Details</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/leaves/new}" class="btn btn-primary btn-sm mb-3"> Add Leave</a>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Employee Name</th>
            <th>Email</th>
            <th>Home Line</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Leave Type</th>
            <th>Leave Status</th>
            <th>Actions</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="leave: ${leaves}">
            <td th:text="${leave.employeeName}"></td>
            <td th:text="${leave.email}"></td>
            <td th:text="${leave.phoneNumber}"></td>
            <td th:text="${leave.leaveStartDate}"></td>
            <td th:text="${leave.leaveEndDate}"></td>
            <td th:text="${leave.leaveType}"></td>
            <td th:text="${leave.leaveStatus}"></td>
            <td>
                <a th:href="@{/leaves/edit/{id}(id=${leave.id})}"
                   class="btn btn-primary">
                    Update
                </a>
                <a th:href="@{/leaves/{id}(id=${leave.id})}"
                   class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>

        </tbody>

    </table>

</div>
</body>
</html>